snippet ' "Expand quotes automatically" Ai
'$1'$0
endsnippet

snippet " "Expand quotes automatically" Ai
"$1"$0
endsnippet

snippet ( "Expand brackets automatically" Ai
($1)$0
endsnippet

snippet [ "Expand brackets automatically" Ai
[$1]$0
endsnippet

snippet { "Expand brackets automatically" Ai
{$1}$0
endsnippet

