snippet ( "Automatic brackets" A
($1)$0
endsnippet

snippet [ "Automatic brackets" A
[$1]$0
endsnippet

# Jupynium Snippets

snippet py "Create a new code cell"
# %% [python]
$0
endsnippet

snippet md "Create a new markdown cell"
# %% [md]
"""
$0
"""
endsnippet
