snippet < "Automatic element creation" Ai
<$0>
endsnippet

snippet El "Create a HTML element with newline" i
<$1$2>
    $3
</$1>$0
endsnippet

snippet el "Create a HTML element without newline" i
<$1$2>$3</$1>$0
endsnippet
