snippet [] "Create document link"
[${1:${VISUAL}}](${2:${1/ /_/g}}.md)
endsnippet

snippet ## "Create header link"
[${1:${VISUAL}}](#${2:${1/ /-/g}})
endsnippet

snippet _ "Italicise"
_$1_
endsnippet

snippet ** "Bolden"
**$1**
endsnippet
