snippet [[ "Create document link"
[[${1:${VISUAL}}]]
endsnippet

snippet ## "Create header link"
[[#${1:${VISUAL}}]]
endsnippet

snippet _ "Italicise"
_$1_
endsnippet

snippet ** "Bolden"
**$1**
endsnippet
